include MANIFEST.in
include license.txt
include setup.cfg
include README.md
include README.rst
include eccpy/examples/example_data/generated_data_0.xlsx
include eccpy/examples/example_data/generated_data_1.xlsx
include eccpy/examples/example_data/generated_data_2.xlsx
include eccpy/examples/example_settings/eccpy-xlsx-generic-vertical_template.xlsx
include eccpy/examples/example_settings/ECCpy_settings_template.xlsx